@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

body {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Manrope", sans-serif;
  overflow: hidden;
  background-image: url("./assets/texture.png");
}

* {
  cursor: crosshair;
}

#select {
  width: 250px;
  background-color: white;
  margin: 30px;
  border-radius: 7px;
  position: absolute;
  padding: 10px;
}

#select p {
  font-size: 13px;
}

.color-box {
  display: flex;
}

.size-box {
  display: flex;
}

.color {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.size {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border: 1px solid gray;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  padding: 2px;
}
